header {
  display: flex;
  flex-direction: column;

  @media (max-width: 1024px) {
    padding: 32px 20px 24px;
    gap: 18px;
  }
}

header p {
  margin: 0;
}

nav {
  margin-top: 50px;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 0;
}

nav li {
  list-style: none;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  padding: 8px 12px;
  border: 2px solid black;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
}

#getButton {
  background-color: blue;
}

#getButton:hover {
  background-color: rgb(31, 101, 254);
}

#postButton {
  background-color: green;
}

#postButton:hover {
  background-color: rgb(3, 181, 3);
}

#putButton {
  background-color: orange;
}

#putButton:hover {
  background-color: rgb(255, 192, 74);
}

#deleteButton {
  background-color: red;
}

#deleteButton:hover {
  background-color: rgb(255, 89, 89);
}
