@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  font-family: "Quantico", sans-serif;
}

#getButton {
  background-color: blue;
}

#getButton:hover {
  background-color: rgb(31, 101, 254);
}

#postButton {
  background-color: green;
}

#postButton:hover {
  background-color: rgb(3, 181, 3);
}

#putButton {
  background-color: orange;
}

#putButton:hover {
  background-color: rgb(255, 192, 74);
}

#deleteButton {
  background-color: red;
}

#deleteButton:hover {
  background-color: rgb(255, 89, 89);
}
